/* ==========================
   ESTILO DA PÁGINA HOME
========================== */

body{
    background: linear-gradient(135deg, #0c35c7,#128d5c,#237d3e);
    font-family: "Vampiro One", system-ui;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body.light{
    background: linear-gradient(135deg, #31d1f5,#5df996,#4ce141);
    font-family: "Betania Patmos", cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    margin-top: 24px;
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(135deg, #38bdf8, #2563eb);
    color: #020617;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover{
    transform: translate(-2px);
    box-shadow:0 12px 25px rgba(37,99,235,0.5);
}

.theme-toggle-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 20px;
    right: 80px;
    margin-top: 0;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255,255,255,0.4);
    color: white;
    transition: 0.3s;
    z-index: 1000;
}

.theme-toggle-btn:hover {
    transform: scale(1.1);
    background: rgba(255, 255,255, 0.3);
}